*{
  cursor: none;
}
.mini-menu{
  position: fixed;
  bottom: 0;
  z-index: 4;
  border-top-right-radius: 100%;
  /* padding: 20px; */
  max-width: 100px;max-height: 100px;
  width: 100px;height: 100px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn-menu{
  background: none;
  cursor: none;
  outline: none;
  border:none;
  padding: 0 20px;
  margin: 10px 0;
}

.menu-items{
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: #000;
  border-radius: 100%;
  border: var(--bs-primary) 3px solid;
}
.menu-items li{
  list-style: none;
  font: 700;
  font-size: 32px;
  position: relative;
  z-index: 11;
}
.menu-items li a {
  z-index: 100;
  color: #fff;
  text-shadow: #fff 0 0 10px;
  text-decoration: none;
}
.menu-items li::before {
  position: absolute;
  content: '>';
  transform: translateX(-120%);
  font-weight: bold;
  opacity: 0;
  transition: 0.5s ease;
}

.menu-items li:hover::before {
  opacity: 1;
}
